.body{
    width: 375px;
    background-color: #f2ebe2;
}

.home{
    background-image: url(https://i.postimg.cc/j5xwTTV2/temp-Image7eb-HJf.avif);
}
footer ul{
    width: 375px;
    display: flex;
    list-style: none;
    background-color: #feffaf;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
}
footer img{
    margin-left: 15px;
    width: 80px;
    height: 65px;
}

.home header h1{
    text-align: center;
    background-color: #f2ebe2;
    font-size: 3.8em;
    font-family: cursive;
    color: #8f9984;
    border: double #eec1c2;
    border-width: 9px;
    margin: 0%;
}

.home header p{
    background-color: #feffaf;
    padding: 0.5em;
    width: 35%;
    border: solid #8f9984;
    border-radius: 0.5em;
    font-family: fantasy;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
}
.home header div{
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5em;
}

.home main img{
    width: 320px;
    height: 350px;
}
.home main div{
    display: flex;
    justify-content: center;
    width: 375px;
    height: 280px;
    
}

.home main p{
    background-color: #8f9984;
    padding: 1em;
    border-radius: 30px;
    border: solid #eec1c2;
    border-width: 9px;
    font-family: monospace;
    margin-bottom: 10em;
}

.impact header h1{

    text-align: center;
    background-color: #f2ebe2;
    font-size: 4em;
    font-family: cursive;
    color: #8f9984;
    border: double #eec1c2;
    border-width: 9px;
    margin: 0%;
}

.impact div{
    background-color: #8f9984;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 5em;
    border-radius: 30px;
    border: solid #eec1c2;
    border-width: 9px;
    font-family: monospace;
}

.impact h2{
    color: #992071;
}


.impact{
    background-image: url(https://i.postimg.cc/FR2wRRBp/temp-Image-WMxg-TA.avif);
}

.bloemen {
    background-image: url(https://i.postimg.cc/Cx9HL30x/paarse-bloem.jpg);
}

.bloemen header h1{
    text-align: center;
    background-color: #f2ebe2;
    font-size: 4em;
    font-family: cursive;
    color: #8f9984;
    border: double #eec1c2;
    border-width: 9px;
    margin: 0%;
}

.bloemen div{
    background-color: #8f9984;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 6em;
    border-radius: 30px;
    border: solid #eec1c2;
    border-width: 9px;
    font-family: monospace;

}

.bloemen h2{
    color: #7e49a2;
}
.bloemen main img{
margin-left: 25px;
width: 320px;
}